body {
	background-image: url(../img/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.container{
	width: 960px;
	margin: 9% auto;
}
.main-header{
/*	margin: 9% 0;*/
	text-align: center;
	background-image: url(../img/banner.jpg);
	padding: 1px;
}
.main-header h1{
	margin-bottom: 20px;

	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
.main-header__avatar {
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	margin-bottom: 10px;

	border-radius: 999px;
	border: 3px solid white;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}
